<!DOCTYPE html>
<html lang="" dir="ltr" ng-app="Portfolio">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="main.css">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Cardo|Holtwood+One+SC|Julius+Sans+One|Monda|Montserrat+Alternates" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js" charset="utf-8"></script>
  <script src="angular-animate.min.js"></script>
  <script src="app.js" charset="utf-8"></script>
  <title>Laura Levenhagen</title>
</head>
<link rel="shortcut icon" type="image/jpg" href="images/fav-icon.jpg" />

<body ng-controller="MainController as ctrl">
  <div id="main">
    <nav id='nav'>
      <li id="a" ng-click="ctrl.scrollTo('main')">
        <span class="first-letter" ng-mouseover="ctrl.showA();">A</span>
        <span class="rest-of-word" ng-if="ctrl.showAbout">bout</span>
      </li>
      <li>
        <span ng-click="ctrl.scrollTo('middle')" class="first-letter" ng-mouseover="ctrl.showP();">P</span>
        <span class="rest-of-word" ng-if="ctrl.showProject">rojects</span>
      </li>
      <li>
        <a href="images/Laura_Levenhagen_Resume.pdf" target="_blank">
          <span class="first-letter" ng-mouseover="ctrl.showR();">R</span>
          <span class="rest-of-word" ng-if="ctrl.showResume">esume</span>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.linkedin.com/in/laura-levenhagen/"><span ng-mouseover="ctrl.showLinkedIn()" class="first-letter" </span>L <span ng-if="ctrl.showLinked" class="rest-of-word">inkedIn</span></a>
      </li>
      <li>
        <a target="_blank" href="https://github.com/llevenhagen"><span ng-mouseover="ctrl.showGithub()" class="first-letter" </span>G <span ng-if="ctrl.showGit" class="rest-of-word ng-animate">ithub</span></a>
        <!-- <li class="fav">
      <a ng-click="ctrl.toggleFavModal()" href="#">
        <span class="first-letter" ng-mouseover="ctrl.showF();">F</span>
        <span class="rest-of-word" ng-show="ctrl.showFav">avorites</span>
      </a>
    </li> -->
    </nav>
    <div class="container">
      <div class="main-hello">
        <h1 id="comp-h1">Laura Levenhagen</h1>
        <div class="white">
          <h1 id="ipad-h1">Laura Levenhagen</h1>
          <!-- <p id="p-top"><span class="hello">Hello!</span> My name is Laura Levenhagen. I'm a full-stack developer located in San Diego, California. I am passionate about providing people and businesses with a functional, aesthetically pleasing
          and modern site, and I have made special effort to learn and enact mobile resizing in my work. </p> -->
          <!-- <hr class="hr-one" />
          <hr class="hr-two" /> -->
          <div id="me-box">
            <p id="p-top"><span class="hello">Hello!</span> My name is Laura Levenhagen. I'm a full-stack developer located in San Diego, California. I am passionate about providing people and businesses with a functional, aesthetically pleasing
            and modern site, and I have made special effort to learn and enact mobile resizing in my work. </p>
            <!-- <div id="flex-box"> -->
              <img id="me" src="images/me.jpg" />
              <h1 id="mobile-h1">Laura Levenhagen</h1>
            <!-- </div> -->
              <!-- <hr class="hr-two" />
            <hr class="hr-one" /> -->
            <p id="p-top-mobile"><span class="hello">Hello!</span> My name is Laura Levenhagen. I'm a full-stack developer located in San Diego, California. I am passionate about providing people and businesses with a functional, aesthetically pleasing
            and modern site, and I have made special effort to learn and enact mobile resizing in my work. </p>
              <p id="p-middle"> In addition to HTML, CSS, and Javascript, I am trained in jQuery and Ruby, as well as MongoDB, Postgresql, and the React, AngularJS, and NodeJS frameworks. </p>
              <p id="p-bottom"> In my free time, I am a musician, a scuba diver, and a lover of cats and literature - preferably at the same time. I enjoy community and teamwork, and I am determined to test my limits and grow my abilities every day.
              </p>
            <!-- <a id="email-a" href="mailto:lauramlevenhagen@gmail.com"><img id="email" src="images/email.jpg"></img></a> -->
            <a id="email-a" href="mailto:lauramlevenhagen@gmail.com"><img id="email" src="images/email.jpg"></img></a>
                <hr class="hr-two" />
            <hr class="hr-one" />
            <hr class="hr-two" />
          </div>
          <!-- <hr class="hr-three"/> -->
          <!-- <div id="projects-modal"> -->
          <!-- <div class="project-modal-container"> -->
          <div id="middle">
            <!-- <hr class="hr-two" /> -->
            <!-- <hr class="hr-one" /> -->
            <h2>Projects</h2>
          </div>
          <div id="peruse">
            <img ng-click="ctrl.moveImages('left')" class="arrow-image" src="images/left-arrow.png">
            <img ng-click="ctrl.openDiv('image1Div')" class="peruse-image" name="peruse1">
            <img ng-click="ctrl.openDiv('image2Div')" class="peruse-image" name="peruse2">
            <img ng-click="ctrl.openDiv('image3Div')" class="peruse-image" name="peruse3">
            <img ng-click="ctrl.moveImages('right')" class="arrow-image" src="images/right-arrow.png">
          </div>
          <div id="projects">
            <div ng-if="ctrl.showBandDiv" id="band-project" class="singular-project">
              <h3>Let's Form a Band</h3>
              <img src="images/form-band-screenshot.jpg" /></br>
              <p>Let's Form a Band is a game made with HTML, CSS, Javascript and jQuery. The game places two players against one another, each player trying to gather the necessary goods to 'win the record deal' first.</p>
              <div class="project-links">
                <a href="https://llevenhagen.github.io/Let-s-Form-a-Band/" target="_blank">Live Link </a><span>|</span>
                <a href="https://github.com/llevenhagen/Let-s-Form-a-Band" target="_blank">Code</a>
              </div>
            </div>
            <div ng-if="ctrl.showDiveDiv"id="dive-project" class="singular-project">
              <h3>Dive Log</h3>
              <img src="images/dive-log-index-page.png" /></br>
              <p>The idea behind this project was to make an informative and useful application for scuba divers to find dive sites they would like to try, or to log their own experience at a dive site. It was made with HTML, CSS, Express, and
                MongoDB/Mongoose.</p>
              <div class="project-links">
                <a href="https://sleepy-escarpment-62758.herokuapp.com/" target="_blank">Live Link </a><span>|</span>
                <a href="https://github.com/llevenhagen/DiveLog" target="_blank">Code</a>
              </div>
            </div>
            <div ng-if="ctrl.showSpecuDiv"id="speculook" class="singular-project">
              <h3>Speculook</h3>
              <img src="images/speculook.png" /></br>
              <p>Speculook was a group project,made for the WDIR Speculoos class of General Assembly to use as a way to keep in contact. We used HTML, CSS, and AngularJS. You may make your own account or sign in as 'Guest' with the password
                'guest'. </p>
              <div class="project-links">
                <a href="https://speculook.herokuapp.com/?" target="_blank">Live Link </a><span>|</span>
                <a href="https://github.com/llevenhagen/speculook" target="_blank">Code</a>
              </div>
            </div>
            <div ng-if="ctrl.showChristDiv"id="christmas" class="singular-project">
              <h3>Christmas Wish List</h3>
              <img src="images/christmas-screen-shot.png" /></br>
              <p>
                Christmas Wish List is, in affect, a Christmas gift registry where you can add what you want and your friends and family can go in and check what they plan on buying you. The project was built with React and Ruby on Rails.</p>
              <div class="project-links">
                <a href="https://obscure-eyrie-20259.herokuapp.com/" target="_blank">Live Link </a><span>|</span>
                <a href="https://github.com/llevenhagen/ChristmasWishList" target="_blank">Code</a>
              </div>
            </div>
            <div ng-if="ctrl.showTrDiv"id="twinritual" class="singular-project">
              <h3>Twin Ritual Band Page</h3>
              <img src="images/twinritual-main.png" /></br>
              <p>
                This site was developed to serve as a merch store for the band Twin Ritual, out of San Diego, CA. I taught myself Vue.js and paired it with an express/nodeJS background. I plan on adding content/press pages and a link to paypal.</p>
              <div class="project-links">
                <a href="https://mysterious-brushlands-75378.herokuapp.com/" target="_blank">Live Link </a><span>|</span>
                <a href="https://github.com/llevenhagen/Twin_Ritual_FrontEnd/blob/master/README.md" target="_blank">Code</a>
              </div>
            </div>
          </div>
          <h4 id="back-to-top" ng-click="ctrl.scrollTo('main')">Back to Top</h4>
          <footer>
            <p class="copyright">
              Designed and built by Laura Levenhagen,
              &copy 2018
            </p>
          </footer>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
