/* ENTIRE PAGE: */
:root {
  --arsenic: #41444B;
  --melon: #F5837C;
  --pale-cornflower-blue: #AEC5EB;
  --anti-flash-white: #EFF0F2;
  --smoky-topaz: #984447;
}

body {
  height: 18vw;
  background-image: url('images/cool_background.png');
  background-size: cover;
  margin: 0 0 0 -.5vw;
}

a {
  cursor: pointer;
}

/* NAV */
nav {
  position: fixed;
  background: rgb(65, 68, 75, .6);
  width: 8vw;
  height: 35vw;
  margin: 1vw auto 0 0;
  padding: 0vw 0vw 0vw 2vw;
  border-right: .35vw solid #6693DE;
  border-bottom: .5vw solid #6693DE;
  border-top: .5vw solid #6693DE;
  border-radius: 0 .5vw .5vw .2vw;
}

li {
  list-style-type: none;
  margin: 2.4vw auto;
}

span {
  font-size: 1vw;
  letter-spacing: .1vw;
  font-family: 'Julius Sans One', sans-serif;
  weight: 700;
}

.first-letter {
  font-size: 3.2vw;
  font-family: 'Bungee Inline', cursive;
  color: var(--anti-flash-white);
  cursor: pointer;
}

.rest-of-word {
  color: var(--anti-flash-white);
  opacity: 1;
}

a {
  text-decoration: none;
  color: var(--anti-flash-white);
}

/* MAIN */

/* TITLE H1 */
#comp-h1 {
  opacity: 1;
  margin: 1vw auto 0;
  color: var(--anti-flash-white);
  /* background: #C9292F; */
  background: #E86460;
  font-family: 'Bungee Inline', cursive;
  text-align: center;
  font-size: 6vw;
  line-height: 130%;
  padding-top: 1vw;
  width: 85%;
  border-radius: .2vw .2vw 0 0;
}

#mobile-h1 {
  opacity: 0;
  position: fixed;
}
#ipad-h1 {
  position: fixed;
  opacity: 0;
}
/* WHITE MIDDLE DIV */
/* INVISIBLE CONTAINER */
.container {
  width: 90%;
  margin: -1vw auto 2vw;
}

.white {
  width: 85%;
  margin: auto auto 1vw auto;
  padding: 1.5vw 0;
  background: var(--anti-flash-white);
  border-radius: 0 0 .5vw .5vw;
  text-align: center;
}

/* ABOUT PARAGRAPHS */

.main-hello p {
  /* background:var(--pale-cornflower-blue); */
  color: var(--arsenic);
  font-weight: 600;
  padding: 1vw 1vw 3vw 1vw;
  /* padding-bottom: 0; */
  font-size: 1.7vw;
  line-height: 150%;
  font-family: 'Montserrat Alternates', sans-serif;
  width: 80%;
  margin: .7vw auto;
}
#p-top-mobile {
  display: none;
}
#p-top {
  text-align: center;
  margin-bottom: 0vw;
}
#p-middle, #p-bottom {
  margin-top: -1vw;
}
#p-bottom {
  text-align: center;
  margin-top: -.5vw;
  margin-bottom: 0;
}

/* IMAGE OF ME */
#me {
  float: right;
  height: 25vw;
  border: .4vw solid var(--pale-cornflower-blue);
  margin: 0 4vw 1vw;
  border-radius: .2vw;
  box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 0.49);
}

/* EMAIL ICON */
#email {
  clear: both;
  width: 6vw;
  margin-top: .1vw;
  margin-bottom: 1vw;
  border-top: .1vw solid #C9292F;
  border-bottom: .1vw solid #C9292F;
  padding-top: .3vw;
  padding-bottom: .3vw;
}
#facebook, #instagram {
  width: 5vw;
  margin: auto 5vw;
  margin-top: .1vw;
  margin-bottom: 1vw;
}

/* HRs */
hr {
  border: .1vw solid var(--pale-cornflower-blue);
  background-color: var(--pale-cornflower-blue);
  /* width: 80%; */
}

.hr-one {
  width: 70%;
  margin-bottom: 2.5vw;
}

.hr-two {
  width: 50%;
  margin-bottom: 2.5vw;
}

.hr-three {
  margin-top: 3vw;
  width: 40%;
  border: .01vw solid var(--arsenic);
  background-color: var(--arsenic);
}

.project-modal-container {
  /* position: absolute; */
  margin-top: 0;
  width: 100%;
  height: 55vw;
  margin-left: auto;
  margin-right: auto;
  background: #6693DE;
  padding-top: 4vw;
}

.hello {
  font-weight: 700;
  color: var(--arsenic);
  font-size: 2.5vw;
  line-height: 150%;
  font-family: 'Montserrat Alternates', sans-serif;
}

/* MIDDLE SECTION/PROJECTS HEADER */
#middle {
  margin-top: 6vw;
}

#middle h2 {
  margin: 2vw auto 0;
  color: var(--arsenic);
  /* background: rgb(102, 147, 222, .6); */
  font-family: 'Bungee Inline', cursive;
  text-align: center;
  font-size: 3.4vw;
  line-height: 150%;
  /* width: 85%; */
  letter-spacing: 1vw;
  border-radius: .2vw .2vw 0 0;
}

/* PROJECTS SECTION */
#peruse {
  margin: 4vw auto 0;
  background: #EFF0F2;
  border-top: .1vw solid var(--arsenic);
  border-bottom: .1vw solid var(--arsenic);
  padding-top: 3vw;
  padding-bottom: 3vw;
  width: 100%;
  height: 22vw;
  display: inline-flex;
  justify-content: space-around;
}
.peruse-image {
  height: 95%;
  width: 25%;
  /* border: .2vw solid var(--arsenic); */
}
.arrow-image {
  width: 5.5vw;
  height: 9vw;
  margin-top: 7vw;
  border-radius: 25%;
}
.arrow-image:hover, .peruse-image:hover {
  cursor: pointer;
}
#projects {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5vw;
}

.singular-project {
  padding-top: 1.5vw;
  /* padding-bottom: 1vw; */
  margin-bottom: 5vw;
  width: 40%;
  height: 45vw;
  border: .5vw solid var(--anti-flash-white);
  border-radius: .5vw;
  text-align: center;
  box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 0.49);
  color: var(--arsenic);
}

.singular-project h3 {
  background: rgb(240, 241, 242, .6);
  padding-top: .5vw;
  padding-bottom: .5vw;
  border-radius: .2vw;
  width: 100%;
  font-size: 2vw;
  font-family: 'Montserrat Alternates', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: 0 auto 2vw auto;
}

#projects img {
  /* max-width: 15vw; */
  height: 19.8vw;
  border-radius: .5vw;
  border: .5vw solid var(--anti-flash-white);
  /* margin-bottom: .5vw; */
}
#projects img:hover {
  transform: scale(1.5);
  transition: 1s ease-in-out;
}
#projects p {
  /* margin-top: -.1vw; */
  color: var(--arsenic);
  height: 13vw;
  padding: .5vw;
  font-size: 1.2vw;
  line-height: 150%;
}

.project-links {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  /* background: rgb(240, 241, 242, .6); */
  text-align: center;
  bottom: 0;
  color: var(--anti-flash-white);
  padding-top: 1vw;
}

.project-links a {
  font-size: 1.4vw;
  margin-top: -1.3vw;
  background: rgb(240, 241, 242, .6);
  padding: 1vw;
  border-radius: .3vw;
  width: 51%;
  font-family: 'Montserrat Alternates', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

/* LINKS DIVIDER */
#projects span {
  color:
    rgb(255, 255, 255, .1);
}

/* band project */
#band-project {
  background: #E2BE52;
}

#band-project .project-links, #band-project .project-links a {
  color: #D5AF3C;
}

/* dive project */
#dive-project {
  background: #AEEBDC;
}

#dive-project .project-links, #dive-project .project-links a {
  color: #62C3AB;
}

/* speculook project */
#speculook {
  background: #F4ADAD;
  color: var(--arsenic);
}

#speculook .project-links, #speculook .project-links a {
  color: #E68E8E;
}

/* christmas wish list project */
#christmas {
  background: #7DA7C2;
  color: var(--arsenic);
}
#christmas .project-links, #christmas .project-links a {
  color: #447696;
}
/* Twin ritual page */
#twinritual {
  background: #FA8B73;
  color: var(--arsenic);
}
#twinritual .project-links, #twinritual .project-links a {
  color: #E46C52;
}
/* BACK TO TOP BUTTON */
h4 {
  font-size: 2vw;
  background: rgb(240, 241, 242, .6);
  padding: 1vw;
  border-radius: .2vw;
  width: 50%;
  font-family: 'Montserrat Alternates', sans-serif;
  color: var(--arsenic);
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  border-radius: .2vw;
  width: 35%;
  margin: 1.5vw auto 0;
  text-align: center;
  padding: .2vw;
}

/* footer */
.white footer p{
  margin-top: 3vw;
  font-size: 1vw;
  color: var(--arsenic);
  margin-bottom: -4vw;
  text-align: right;
  line-height: 200%;
  width: 98%;
  border-radius: .2vw;
}

/* ANIMATIONS */
.first-letter:hover {
  color: #6693DE;
}

.project-links a:hover {
  background: var(--anti-flash-white);
}

.rest-of-word.ng-enter {
  animation: fade_in_animation 0.5s linear;
  -webkit-animation: fade_in_animation 0.5s linear;
}

.rest-of-word.ng-enter.ng-enter-active {
  opacity: 1;
}

@keyframes fade_in_animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade_in_animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#email:hover {
  border-bottom: .1vw solid var(--melon);
  border-top: .1vw solid var(--melon);
}
#facebook:hover, #instagram:hover {
opacity: .8;
}
#back-to-top {
  color: #C9292F;
  ;
}

#back-to-top:hover {
  color: #6693DE;
}

/* MOBILE RESIZING */

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  body {
    margin: auto auto;
  }

  #main {
    width: 100%;
    height: 100%;
  }

  nav {
    position: relative;
    height: 12vw;
    width: 99.6%;
    display: inline-flex;
    border: none;
    border-left: .2vw solid #6693DE;
    border-right: .2vw solid #6693DE;
    border-radius: .5vw;
    margin: auto auto auto .5vw;
    padding: 3vw 0vw 1vw 0vw;
    background: #202126;
  }

  .first-letter {
    font-size: 5vw;
  }

  .rest-of-word {
    font-size: 3vw;
    opacity: 1;
  }

  hr {
    opacity: 0;
    position: fixed;
  }

  nav ul {
    display: inline-flex;
    margin: auto;
    /* background: var(--anti-flash-white); */
  }

  .container {
    width: 100%;
    margin: -1vw auto 2vw;
  }

  .main-hello {
    width: 100%;
    margin: auto;
    margin-left: .5vw;
  }

  .white {
    margin: auto;
    width: 100%;
    background: none;
    /* width: 100%; */
  }

  #comp-h1 {
    position: fixed;
    opacity: 0;
  }

  #ipad-h1 {
    position: relative;
    opacity: 1;
    margin: -.7vw auto;
    color: var(--anti-flash-white);
    background: #E86460;
    font-family: 'Bungee Inline', cursive;
    text-align: center;
    font-size: 5vw;
    line-height: 150%;
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 100%;
    border-radius: .2vw .2vw 0 0;
  }
  #mobile-h1 {
    position: fixed;
    opacity: 0;
  }

  #p-top-mobile {
    display: none;
  }
  #me {
    float: none;
    margin: 2vw auto;
    width: 42%;
    height: 42%;
    border: none;
  }

  #me-box {
    width: 100%;
    height: 100%;
    background: var(--anti-flash-white);
    /* padding-top: 7vw; */
  }

  #me-box p {
    font-size: 2.5vw;
    border-radius: .5vw;
  }

  .hello {
    font-size: 3.5vw;
  }

  #projects {
    border-radius: .5vw;
    background: var(--anti-flash-white);
  }

  #email {
    width: 10vw;
  }
  #facebook, #instagram {
  width: 7vw;
  }
  .white footer p{
    font-size: 2vw;
    color: var(--anti-flash-white);

  }
  #peruse {
    margin: 2vw auto 0;
    width: 100%;
    height: 30vw;
  }

  .singular-project {
    width: 50%;
    height: 70vw;
    margin: 3vw auto 15vw;
  }
  #projects h3 {
    font-size: 3.5vw;
    background: var(--anti-flash-white);
  }
  #projects img {
    max-width: 65%;
    height: 27vw;
    margin-top: 1vw;
  }
  #projects p {
    margin-top: 3vw;
    font-size: 2vw;
    padding: auto 0;
  }
  .project-links {
    margin: auto;
    margin-top: 10vw;
  }
  .project-links a {
    font-size: 3vw;
    background: var(--anti-flash-white);
  }
  #middle h2 {
    font-size: 6vw;
    padding-top: 6vw;
    background: var(--anti-flash-white);
    margin-bottom: -2vw;
    margin-top: -5vw;
  }

  h4 {
    background: var(--anti-flash-white);
    border-radius: .3vw;
    width: 100%;
    text-align: center;
    font-size: 3.5vw;
    line-height: 200%;
    padding-top: 3vw;
    padding-bottom: 2vw;
    margin-top: -10vw;
  }
  #back-to-top {
    padding-top: 5vw;
    padding-bottom: 4vw;
    background: var(--anti-flash-white);
  }
}
@media only screen and (max-width: 600px), (max-device-width: 600px) {
  #p-top {
    display: none;
  }
  #p-top-mobile {
    display: block;
  }
  body {
    margin: auto auto;
  }

  #main {
    width: 100%;
    height: 100%;
  }

  nav {
    position: relative;
    height: 9vw;
    width: 100%;
    display: inline-flex;
    /* border-left: .35vw solid #6693DE; */
    border: .35vw solid var(--anti-flash-white);
    border-radius: 1vw;
    margin: .5vw auto .5vw .4vw;
    padding: 2vw 0vw 2vw 0vw;
    background: #202126;
  }

  .first-letter {
    font-size: 5vw;
  }

  .rest-of-word {
    font-size: 3vw;
    opacity: 1;
  }

  hr {
    opacity: 0;
    position: fixed;
  }

  nav ul {
    display: inline-flex;
    margin: auto;
    /* background: var(--anti-flash-white); */
  }

  .container {
    width: 100%;
    margin: -1vw auto 2vw;
  }

  .main-hello {
    width: 100%;
    margin: auto;
    margin-left: .5vw;
  }

  .white {
    margin: auto auto auto .5 vw;
    width: 100%;
    background: none;
  }

  #comp-h1 {
    position: fixed;
    opacity: 0;
  }
  #ipad-h1 {
    position: fixed;
    opacity: 0;
  }
  #mobile-h1 {
    position: relative;
    opacity: 1;
    margin: 0 auto 3vw;
    color: var(--anti-flash-white);
    background: #E86460;
    font-family: 'Bungee Inline', cursive;
    text-align: center;
    font-size: 8.5vw;
    line-height: 150%;
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 100%;
    border-radius: .2vw .2vw 0 0;
    /* margin-left: -3.5vw; */
  }

  #me {
    float: none;
    margin: auto auto 1vw;
    width: 99.5%;
    height: 100%;
    border: none;
  }

  #me-box {
    width: 100%;
    height: 100%;
    background: var(--anti-flash-white);
    /* padding-top: 7vw; */
  }


  #me-box p {
    font-size: 3vw;
    border-radius: .5vw;
  }
  .hello {
    font-size: 5vw;
  }
  #email, #facebook, #instagram {
    width: 15vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
  #facebook, #instagram {
  width: 10vw;
  }
  #middle h2 {
    margin-top: -2vw;
    margin-bottom: -2vw;
    font-size: 7vw;
    padding-bottom: 2vw;
  }
  #projects {
    border-radius: .5vw;
    background: var(--anti-flash-white);
    display: block;
    padding-bottom: 5vw;
  }
  #peruse {
    margin: 2vw auto 0;
    width: 100%;
    height: 35vw;
  }
  .arrow-image {
    width: 10vw;
    height: 15vw;
    margin: auto -2vw;
    margin-top: 7vw;
    border-radius: 25%;
  }
  .singular-project {
    width: 80%;
    height: 135vw;
    margin: 5vw auto 15vw;
  }
  #projects h3 {
    font-size: 5vw;
    background: var(--anti-flash-white);
  }
  #projects img {
    max-width: 75%;
    height: 60vw;
    margin-top: 6vw;
  }
  #projects p {
    margin-top: 5vw;
    font-size: 3.5vw;
    padding: auto 0;
  }
  .project-links {
    margin: auto;
    margin-top: 30vw;
  }
  .project-links a {
    font-size: 5vw;
    background: var(--anti-flash-white);
  }
  h2 {
    padding-top: 6vw;
    background: var(--anti-flash-white);
    margin-bottom: -2vw;
  }

  h4 {
    background: var(--anti-flash-white);
    border-radius: .3vw;
  }
#back-to-top {
  font-size: 6vw;
  width: 100%;
  text-align: center;
  margin-top: -5vw;
  padding-bottom: 4vw;
}
.white footer p{
  font-size: 2vw;
  color: var(--anti-flash-white);
  margin-top: 7vw;

}
}
/* FONTS  */
font-family: 'Bungee Inline', cursive;
font-family: 'Holtwood One SC', serif;
font-family: 'Cardo', serif;
font-family: 'Monda', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Julius Sans One', sans-serif;
